<div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">GitHub Hall of Fame</h1>

      <p class="splash-subhead">Enter your repo data to find Hall of Famers</p>
      <p>
        <a href="/dashboard" class="pure-button pure-button-primary">Get Started</a>
      </p>
  </div>

  <div class="footer l-box is-center">
          Copyright 2015 by John Hess and Andrea Ruth Coravos
  </div>

</div>